# shellcheck disable=SC2034
QB_API_URL=http://localhost:8080/api/v2
NETWORK_INTERFACE_STATUS=/proc/net/dev
QB_CONFIG_FILE=/home/simon.thevenot/.config/qBittorrent/qBittorrent.conf
VPN_GATEWAY=10.2.0.1